###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-mirror-node-explorer-maintainers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers @hiero-ledger/github-committers
/.github/workflows/                             @hiero-ledger/github-maintainers @hiero-ledger/github-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-committers @hiero-ledger/github-maintainers @hiero-mirror-node-explorer-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers @hiero-mirror-node-explorer-maintainers
**/LICENSE                                      @hiero-ledger/github-committers @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-committers @hiero-ledger/github-maintainers @hiero-mirror-node-explorer-maintainers
**/.gitignore.*                                 @hiero-ledger/github-committers @hiero-ledger/github-maintainers @hiero-mirror-node-explorer-maintainers

# Docker
/chart/                                         @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-mirror-node-explorer-maintainers
/sourcify-setup/                                @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-mirror-node-explorer-maintainers
**/.env.docker                                  @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-mirror-node-explorer-maintainers
**/.dockerignore                                @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-mirror-node-explorer-maintainers
**/nginx-docker.conf                            @hiero-ledger/github-maintainers @hiero-ledger/github-committers @hiero-mirror-node-explorer-maintainers
