.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage data
/.nyc_output
/tests/coverage

# Cypress
/cypress
/tests/e2e/videos
/tests/e2e/screenshots

# Branding customization
/branding
/src/assets/branding
/src/assets/styles
/public
