name: "ZC: Compile"
on:
  workflow_call:
    inputs:
      enable-unit-tests:
        description: "Unit Testing Enabled:"
        type: boolean
        required: false
        default: false
      enable-e2e-tests:
        description: "Unit Testing Enabled:"
        type: boolean
        required: false
        default: false
      enable-sonar-analysis:
        description: "Sonar Analysis Enabled:"
        type: boolean
        required: false
        default: false
      custom-job-label:
        description: "Custom Job Label:"
        type: string
        required: false
        default: "Compiles"

    secrets:
      access-token:
        description: "The Github access token used to checkout the repository, submodules, and make GitHub API calls."
        required: true
      sonar-token:
        description: "The SonarCloud access token used by the SonarQube agent to report an analysis."
        required: false

defaults:
  run:
    shell: bash

permissions:
  pull-requests: write
  checks: write
  issues: read
  contents: read

env:
  LC_ALL: C.UTF-8

jobs:
  compile:
    name: ${{ inputs.custom-job-label || 'Compiles' }}
    runs-on: [ self-hosted, Linux, explorer, standard, ephemeral ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Compile Code
        run: npm run build

      - name: Unit Tests
        uses: ArtiomTr/jest-coverage-report-action@v2
        if: ${{ inputs.enable-unit-tests && !cancelled() }}
        with:
          test-script: npm run test:unit

      - name: Cypress run
        uses: cypress-io/github-action@v4
        if: ${{ inputs.enable-e2e-tests && !cancelled() }}
        with:
          install-command: npm install
          browser: chrome
          headless: true
          start: npm run serve:prod
          wait-on: 'http://localhost:38920'
          spec: tests/e2e/specs/*

      - name: Sonar Analysis
        uses: SonarSource/sonarcloud-github-action@v1.7
        if: ${{ inputs.enable-sonar-analysis && !cancelled() }}
        env:
          GITHUB_TOKEN: ${{ secrets.access-token }}
          SONAR_TOKEN: ${{ secrets.sonar-token }}
