name: "PR Checks"
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

defaults:
  run:
    shell: bash

permissions:
  checks: write
  pull-requests: write
  contents: read
  issues: read

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Code
    uses: ./.github/workflows/zxc-compile-explorer-code.yaml
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}

  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/zxc-compile-explorer-code.yaml
    with:
      custom-job-label: Standard
      enable-unit-tests: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}

  e2e-tests:
    name: E2E Tests
    uses: ./.github/workflows/zxc-compile-explorer-code.yaml
    with:
      custom-job-label: Standard
      enable-e2e-tests: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}

  sonar-analysis:
    name: Sonar Analysis
    uses: ./.github/workflows/zxc-compile-explorer-code.yaml
    with:
      custom-job-label: Standard
      enable-sonar-analysis: true
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
